.tabs {
  height: 50px;
  border: 2px solid #525252;
  border-left: 0;
  border-top: 0;
  position: relative;
}

.tab-list {
  margin: 0;
  padding: 0;
}

.tab__item {
  display: inline-block;
  padding: 5px 15px 7px;
  margin-top: 12px;
  border: 2px solid #525252;
  border-radius: 3px;
  margin-left: -2px;
  color: #fff;
  cursor: pointer;
}

.tab__item--active {
  border-bottom: 2px solid #171717;
}

.tab__new {
  border: 0;
  font-weight: 600;
  font-size: 18px;
}

.apply-btn {
  text-align: right;
  position: absolute;
  right: 20px;
  color: #fff;
  padding: 3px 10px;
  top: -40px;
  border: 1px solid;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.3;
}

.apply-btn--active {
  opacity: 1;
}
